/* Merchify.co */

/* Global Classes */
html, body, #app, #app>div {
  height: 100%;
  color: #939393;
}

a, a:hover, a:visited{
  color: #8BC34A;
  font-weight: bold;
  text-decoration: none !important;
}

input, input:focus, input:active{
  outline: none !important;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.no-padding{
  padding: 0 !important;
}

.nav-logo{
  width: 115px;
  margin-top: -2px;
}

.navbar{
  margin-bottom: 0px !important;
  height: 55px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

nav{
  background-color: #232325 !important;
  border-radius: 0 !important;
}

.sidebar{
  height: 100%;
  background-color: #F2F2F2;
  padding: 15px 0px 0px 20px;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 55px;
}

.sidebar img{
  width: 20px;
  margin-right: 10px;
}

.view-site{
  width: 20px;
  float: right;
  margin-right: 20px;
  margin-top: 20px;
}

.sidebar a{
  color: #939393;
  font-weight: bold;
  line-height: 25px;
  padding: 5px 0px 15px 5px !important;
}
.main-container{
  height: 100%;
}

.full-height{
  height: calc(100% - 28px);
}

.sidebar-active{
  color: #8BC34A !important;
}

.faqs{
  text-align: center;
}

.sidebar-settings{
  position: fixed !important;
  bottom: 0;
}

.main-area{
  padding: 5vh 10vw 1vh 10vw;
  left: 0;
  margin-left: 220px;
  margin-top: 55px;
}


/* Dasboard Classes */
.dash-greeting{
  font-size: 20px;
  margin-bottom: 50px;
}

.dash-head-statistics{
  font-size: 20px;
  text-align: center;
  color: #8BC34A;
  font-weight: 500;
  margin-top: -5px;
}

.dash-head-statistics-label{
  font-size: 14px;
  text-align: center;
  margin-top: -10px;
}

.dash-card{
  background-color: #fff;
  border-radius: 4px;
  border: #f8f8f8 solid 2px;
  margin-bottom: 50px;
  padding: 20px 5px 20px 5px;
}












@media only screen and (max-width: 830px) {
  .main-area{
      margin-left: 0px !important;
  }
}


@media only screen and (max-width: 830px) {
  .view-site{
    display: none;
  }
}

@media only screen and (max-width: 830px) {
  .sidebar{
    display: none;
  }
}
