html, body, #app, #app>div {
  height: 100%
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.no-padding{
  padding: 0 !important;
}

.nav-logo{
  width: 115px;
  margin-top: -2px;
}

.navbar{
  margin-bottom: 0px !important;
  height: 55px;
}

nav{
  background-color: #232325 !important;
  border-radius: 0 !important;
}

.sidebar{
  height: 100%;
  background-color: #F2F2F2;
}

.sidebar img{
  height: 20px;
  margin-right: 10px;
}

.sidebar a{
  color: #939393;
  font-weight: bold;

}
.main-container{
  height: 100%;
}